{% extends 'shared/base.html' %}
{% load static %}


{% block title %} Encerrar Sessão {% endblock %}


{% block imports %}
<link rel="stylesheet" href="{% static 'account/css/style.css' %}">
{% endblock %}


{% block content %}
<div class="text-center">

    <div>
        <img src="{% static 'shared/img/logo_txt.svg' %}" alt="Lipsum's logo, the word in blue rounded custom font">
        <h5>Gerenciador de senhas online e intuitivo.</h5>
        <hr>
        <img src="{% static 'shared/img/logo.svg' %}" alt="Lipsum's icon, blue hexagon with gradient effects">
    </div>

    <form action="{% url 'account:logout' %}" method="post">
        {% csrf_token %}

        <h1>Confirmar saída?</h1>

        <input class="my-2 btn btn-danger btn-lg" type="submit" value="Confirmar">

        <button type="button" onclick="history.back()" class="my-2 btn btn-outline-secondary btn-lg">Cancelar</button>

    </form>

</div>
{% endblock %}