{% extends 'shared/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %} Página de {{ action }} | {{ model }} {% endblock %}


{% block imports %}
<link rel="stylesheet" href="{% static 'shared/css/createView.css' %}">

{% if model == 'Credencial' %}
<script src="{% static 'secret/js/credentialCreateView.js' %}"></script>
{% endif %}
{% endblock %}


{% block content %}
<!-- TODO: fix Card's slug and limit chars -->
<!-- TODO: fix Credential's slug and limit chars -->
<!-- TODO: fix Note's slug and limit chars -->

<h1 class="text-center mb-5">{{ action }} de {{ model }}</h1>

<form action="" method="post" class="row g-5 mx-auto mb-5 text-center">
    {% csrf_token %}

    {{ form|crispy }}

    <input style="width: 94%;" class="btn btn-success mx-auto" type="submit">
</form>


<script>
    var user = '{{ request.user }}'
    var userID = '{{ request.user.id }}'

    document.getElementById('id_owner').innerHTML = `<option value="${userID}">${user}</option>`
    document.getElementById('div_id_owner').classList.add('hide')
</script>
{% endblock %}