{% extends 'shared/base.html' %}
{% load crispy_forms_tags %}


{% block title %} Página de Criação | {{ model_name}} {% endblock %}


{% block imports %}
<style>
    form {
        max-width: 800px;
    }

    form * {
        float: unset !important;
    }
</style>
{% endblock %}


{% block content %}
<h1 class="text-center mb-5">Adicionar: {{ model_name }}</h1>

<form action="" method="post" class="row g-5 mx-auto mb-5 text-center">
    {% csrf_token %}

    {{ form|crispy }}

    <input class="btn btn-success" type="submit" value="Adicionar">
    <input class="btn btn-outline-secondary mt-2" type="reset" value="Limpar">
</form>


<script>
    var user = '{{ request.user }}'
    var userID = '{{ request.user.id }}'

    console.log(document.getElementById('id_owner').value)
</script>
{% endblock %}