{% extends 'shared/base.html' %}
{% load static %}


{% block title %} Painel de Segredos do Usuário {% endblock %}


{% block imports %}
<link rel="stylesheet" href="{% static 'secret/css/style.css' %}">
{% endblock %}


{% block content %}
<h1 class="text-center">Painel de Segredos</h1>

<div class="mx-5 my-5 text-center">
    <a href="{% url 'secret:credential_list_view' %}" class="px-3 py-3">
        <img class="mb-3" src="https://picsum.photos/200">
        <h4>Credenciais de login</h4>
    </a>

    <a href="{% url 'secret:card_list_view' %}" class="px-3 py-3">
        <img class="mb-3" src="https://picsum.photos/200">
        <h4>Cartões</h4>
    </a>

    <a href="{% url 'secret:note_list_view' %}" class="px-3 py-3">
        <img class="mb-3" src="https://picsum.photos/200">
        <h4>Anotações</h4>
    </a>
</div>
{% endblock %}