{% extends 'shared/base.html' %}


{% block title %} Lista de {{ model_name }} de Usuário {% endblock %}





{% block content %}
<h1 class="text-center">{{ model_name }}</h1>

{% if model_name == 'Credenciais' %}
cred
{% for i in object_list %}
<h1>{{ i.name }}</h1>
{% empty %}
<h1>Nada</h1>
{% endfor %}

{% elif model_name == 'Cartões' %}
cartao
{% for i in object_list %}
<h1>{{ i.name }}</h1>
{% empty %}
<h1>Nada</h1>
{% endfor %}

{% elif model_name == 'Anotações' %}
note
{% for i in object_list %}
<h1>{{ i.title }}</h1>
{% empty %}
<h1>Nada</h1>
{% endfor %}

{% endif %}

{% endblock %}