{% extends 'shared/html/base.html' %}


{% block title %} Encerrar Sessão {% endblock %}


{% block content %}
<div class="text-center position-absolute top-50 start-50 translate-middle">
    <h1 class="mb-5">Confirmar saída?</h1>

    <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <input class="my-2 btn btn-danger btn-lg" type="submit" value="Confirmar">
    </form>

    <button onclick="history.back()" class="my-2 btn btn-outline-secondary btn-lg">Cancelar</button>
</div>
{% endblock %}