{% extends 'shared/base.html' %}
{% load static %}


{% block title %} Recuperação de Senha pt2/4 {% endblock %}


{% block imports %}
<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">
{% endblock %}


{% block content %}
<div class="text-center">

    <img src="{% static 'shared/img/logo_txt.svg' %}" alt="Lipsum's logo, the word in blue rounded custom font">
    <h5>Gerenciador de senhas online e intuitivo.</h5>
    <hr>
    <img src="{% static 'shared/img/logo.svg' %}" alt="Lipsum's icon, blue hexagon with gradient effects">

    <div id="msg">
        <h1>E-mail Enviado</h1>
        <p>Te enviamos um email com instruções para configurar sua nova senha, se uma conta existe com o email
            fornecido.
            Você deverá receber a mensagem em breve.</p>
        <p>Se você não recebeu um email, por favor certifique-se que você forneceu o endereço que você está cadastrado,
            e
            verifique sua pasta de spam.</p>
    </div>

</div>
{% endblock %}