{% extends 'shared/base.html' %}


{% block title %} Credencial de Usuário {% endblock %}





{% block content %}
<div class="text-center mb-5">
    <h1>Detalhes da Credencial</h1>
    <h3>ID: {{ object.id }}</h3>

    <a href="{% url 'secret:card_update_view' object.pk %}" class="btn btn-primary">Editar Credencial</a>
    <a href="{% url 'secret:card_delete_view' object.pk %}" class="btn btn-danger">Apagar Credencial</a>
</div>

<table class="table table-striped table-hover mt-5 mx-auto" style="max-width: 90vw; min-width: 30vw; width: fit-content;">
    <tbody>
        <tr>
            <th>Apelido</th>
            <td>{{ object.name }}</td>
        </tr>

        <tr>
            <th>Serviço</th>
            <td>{{ object.service }}</td>
        </tr>

        {% if object.thirdy_party_login == True %}
        <tr>
            <th>Login c/ 3<sup>os</sup>?</th>
            <td>Sim</td>
        </tr>
        <tr>
            <th>Apelido do serviço de terceiro</th>
            <td>{{ object.thirdy_party_login_name }}</td>
        </tr>
        {% else %}
        <tr>
            <th>Login c/ 3<sup>os</sup>?</th>
            <td>Não</td>
        </tr>
        <tr>
            <th>Login</th>
            <td>{{ object.login }}</td>
        </tr>
        <tr>
            <th>Senha</th>
            <td>{{ object.password }}</td>
        </tr>
        {% endif %}

        <tr>
            <th>Anotação</th>

            {% if object.note %}
            <td style="max-width: 50ch;">{{ object.note }}</td>
            {% else %}
            <td>-----</td>
            {% endif %}
        </tr>
    </tbody>
</table>
{% endblock %}