{% extends 'shared/base.html' %}


{% block title %} Credencial de Usuário {% endblock %}





{% block content %}
<div class="text-center mb-5">
    <h1>Detalhes de Credencial</h1>
    <h3>ID: {{ object.id }}</h3>
</div>

<table class="table table-striped table-hover mt-5 mx-auto" style="max-width: 80vw;">
    <tbody>
        <tr>
            <th>
                <h4>Serviço</h4>
            </th>
            <td>
                {{ object.service }}
            </td>
        </tr>

        <tr>
            <th>
                <h4>Apelido</h4>
            </th>
            <td>
                {{ object.name }}
            </td>
        </tr>

        {% if object.thirdy_party_login == true %}
        <tr>
            <th>
                <h4>Login com terceiros?</h4>
            </th>
            <td>
                Sim
            </td>
        </tr>
        <tr>
            <th>
                <h4>Apelido do serviço de terceiro</h4>
            </th>
            <td>
                {{ object.thirdy_party_login_name }}
            </td>
        </tr>
        {% else %}
        <tr>
            <th>
                <h4>Login realizado com terceiros?</h4>
            </th>
            <td>
                Não
            </td>
        </tr>
        <tr>
            <th>
                <h4>Login</h4>
            </th>
            <td>
                {{ object.login }}
            </td>
        </tr>
        <tr>
            <th>
                <h4>Senha</h4>
            </th>
            <td>
                {{ object.password }}
            </td>
        </tr>
        {% endif %}

        <tr>
            <th>
                <h4>Anotação</h4>
            </th>

            {% if object.note %}
            <td style="max-width: 50ch;">{{ object.note }}</td>
            {% else %}
            <td>-----</td>
            {% endif %}
        </tr>
    </tbody>
</table>
{% endblock %}