{% extends 'shared/base.html' %}
{% load static %}


{% block title %} Credencial de Usuário {% endblock %}


{% block imports %}
<link rel="stylesheet" href="{% static 'secret/css/detail_view.css' %}">
{% endblock %}


{% block content %}
<div class="text-center mb-5">
    <h1>Detalhes da Credencial</h1>
    <h3>ID: {{ object.id }}</h3>

    <a href="{% url 'secret:card_update_view' object.pk %}" class="btn btn-primary">Editar Credencial</a>
    <a href="{% url 'secret:card_delete_view' object.pk %}" class="btn btn-danger">Apagar Credencial</a>
</div>

<div id="object-content" class="mt-5 mx-auto pt-5 pb-4 px-5"
    style="max-width: 90vw; min-width: 30vw; width: fit-content;">
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th class="ps-4">Apelido</th>
                <td class="pe-4">{{ object.name }}</td>
            </tr>

            <tr>
                <th class="ps-4">Serviço</th>
                <td class="pe-4">{{ object.service }}</td>
            </tr>

            {% if object.thirdy_party_login == True %}
            <tr>
                <th class="ps-4">Login c/ 3<sup>os</sup>?</th>
                <td class="pe-4">Sim</td>
            </tr>
            <tr>
                <th class="ps-4">Apelido do serviço de terceiro</th>
                <td class="pe-4">{{ object.thirdy_party_login_name }}</td>
            </tr>
            {% else %}
            <tr>
                <th class="ps-4">Login c/ 3<sup>os</sup>?</th>
                <td class="pe-4">Não</td>
            </tr>
            <tr>
                <th class="ps-4">Login</th>
                <td class="pe-4">{{ object.login }}</td>
            </tr>
            <tr>
                <th class="ps-4">Senha</th>
                <td class="pe-4">{{ object.password }}</td>
            </tr>
            {% endif %}

            <tr>
                <th class="ps-4">Anotação</th>

                {% if object.note %}
                <td class="pe-4" style="max-width: 50ch;">{{ object.note }}</td>
                {% else %}
                <td class="pe-4">-----</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}