{% extends 'shared/base.html' %}
{% load static %}


{% block title %} Dados de Cartão {% endblock %}


{% block imports %}
<link rel="stylesheet" href="{% static 'secret/css/detail_view.css' %}">
{% endblock %}


{% block content %}
<div class="text-center mb-5">
    <h1>Detalhes do Cartão</h1>

    <a href="{% url 'secret:card_update_view' object.slug %}" class="btn btn-primary">Editar Cartão</a>
    <a href="{% url 'secret:card_delete_view' object.slug %}" class="btn btn-danger">Apagar Cartão</a><br>
    <a href="{% url 'secret:card_create_view' %}" class="btn btn-outline-secondary mt-3">Novo Cartão</a>
</div>

<div id="object-content" class="mt-5 mx-auto pt-5 pb-4 px-5"
    style="max-width: 90vw; min-width: 30vw; width: fit-content;">
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th class="ps-4">Apelido</th>
                <td class="pe-4">{{ object.name }}</td>
            </tr>

            <tr>
                <th class="ps-4">Tipo</th>
                <td class="pe-4">{{ object.get_card_type_display }}</td>
            </tr>

            <tr>
                <th class="ps-4">Número</th>
                <td class="pe-4">{{ object.number }}</td>
            </tr>

            <tr>
                <th class="ps-4">Expiração</th>
                <td class="pe-4">{{ object.expiration.month }}/{{ object.expiration.year }}</td>
            </tr>

            <tr>
                <th class="ps-4">cvv</th>
                <td class="pe-4">{{ object.cvv }}</td>
            </tr>

            <tr>
                <th class="ps-4">Banco</th>
                <td class="pe-4">
                    <img src="/static/secret/img/Credential/{{ object.bank }}.svg"
                        alt="Logo da bandeira referente a este cartão.">
                        {{ object.get_bank_display }}
                </td>
            </tr>

            <tr>
                <th class="ps-4">Bandeira</th>
                <td class="pe-4">
                    <img src="/static/secret/img/Credential/{{ object.brand }}.svg"
                        alt="Logo da bandeira referente a este cartão.">
                        {{ object.get_brand_display }}
                </td>
            </tr>

            <tr>
                <th class="ps-4">Nome do Titular</th>
                <td class="pe-4">{{ object.owners_name }}</td>
            </tr>

            <tr>
                <th class="ps-4">Anotação</th>

                {% if object.note %}
                <td class="pe-4" style="max-width: 50ch;">{{ object.note }}</td>
                {% else %}
                <td class="pe-4">-----</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}