{% extends 'shared/base.html' %}
{% load static %}


{% block title %} Detalhes de Anotação de Segurança {% endblock %}


{% block imports %}
<link rel="stylesheet" href="{% static 'secret/css/detail_view.css' %}">
{% endblock %}


{% block content %}
<div class="text-center mb-5">
    <h1>Detalhes da Anotação</h1>
    <h3>ID: {{ object.id }}</h3>

    <a href="{% url 'secret:note_update_view' object.pk %}" class="btn btn-primary">Editar Anotação</a>
    <a href="{% url 'secret:note_delete_view' object.pk %}" class="btn btn-danger">Apagar Anotação</a>
</div>

<div id="object-content" class="mx-auto px-5 py-5">
    <h3>{{ object.title }}</h3>
    <hr>
    <h5>{{ object.content }}</h5>
</div>
{% endblock %}