@import '../../../shared/css/constants';

#grid {
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;

    #credentials,
    #credit-cards,
    #notes {
        background: $main-color;
        box-shadow: 0 0 15px $accent-color;
        width: fit-content;
        display: grid;
        grid-template-columns: auto;
        row-gap: 1rem;
        border-radius: .5rem;
        
        a {
            color: $secondary-color;
            text-decoration: none;

            div {
                width: 400px;
                display: grid;
                grid-template-columns: 20% auto;
                place-items: center start;
                border: 1px solid $accent-color;
                border-radius: .5rem;
                transition: 300ms;

                &:hover {
                    color: $main-color;
                    background: $secondary-color;
                }
    
                h5 {
                    transform: translateY(.2em);
                }
    
                // img {
                //     height: 50px;
                // }
            }

            .action {
                color: $main-color;
                background: $accent-color;
            }
        }
    }
    
}

#line1 {
    width: 100vw;
    overflow: hidden;

    svg  {
        stroke: $accent-color;
    }
}