@import 'constants';

.nav-link {
    color: $secondary-color;
}

.btn-primary {
    background: $secondary-color;
    border-color: $secondary-color;

    &:hover,
    &:focus {
        background: darken($secondary-color, 10);
        border-color: $secondary-color;
    }
}

.btn-outline-primary {
    color: $secondary-color;
    border-color: $secondary-color;

    &:hover,
    &:focus {
        background: $secondary-color;
        border-color: $secondary-color;
    }
}

body {
    color: $secondary-color;
    font-family: 'Ubuntu', sans-serif;
    background: $accent-color;
    overflow-x: hidden;

    header {
        box-shadow: 0 0 5px $accent-color;
        margin-bottom: 1vh;
    }
}
