{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Primary Meta Tags -->
    <meta name="title" content="Lipsum | Gerenciador de Senhas">
    <meta name="description"
        content="Gerenciador de senhas capaz de armazenar nomes de usuário e senha para diversos e diferentes serviços.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="Lipsum | Gerenciador de Senhas">
    <meta property="og:description"
        content="Gerenciador de senhas capaz de armazenar nomes de usuário e senha para diversos e diferentes serviços.">
    <meta property="og:image" content="">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="">
    <meta property="twitter:title" content="Lipsum | Gerenciador de Senhas">
    <meta property="twitter:description"
        content="Gerenciador de senhas capaz de armazenar nomes de usuário e senha para diversos e diferentes serviços.">
    <meta property="twitter:image" content="">

    <!-- Title -->
    <title>Lipsum | {% block title %}{% endblock %}</title>

    <!-- Page icon -->
    <link rel="shortcut icon" href="{% static 'shared/img/logo.svg' %}" type="image/x-icon">

    <!-- Imports -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    {% block imports %}
    {% endblock %}

    <style>
        :root {
            --secondaryColor: #000080ff;
            --accentColor: #6f6fffff;
        }

        .btn-outline-primary {
            color: var(--secondaryColor);
            border-color: var(--secondaryColor);
        }

        .btn-outline-primary:hover {
            color: var(--white);
            background: var(--secondaryColor);
            border-color: var(--secondaryColor);
        }

        * {
            color: var(--secondaryColor);
            font-family: 'Ubuntu', sans-serif;
        }
    </style>

</head>


<body>

    {% if user.is_authenticated %}
    <header style="box-shadow: 0 0 5px var(--accentColor);margin-bottom: 1vh;">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <a class="navbar-brand" href="#">
                    <img src="{% static 'shared/img/logo_txt.svg' %}"
                        alt="Lipsum's logo, the word in blue rounded custom font" height="40">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="navbar-brand nav-link active" aria-current="page" href="#">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="navbar-brand nav-link" href="#">Link</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="navbar-brand nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    {% endif %}

    {% block content %}
    {% endblock %}

</body>

</html>